.item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
}

.scales {
    display: flex;
    gap: 16px;
}

.scalesHeader {
    width: 448px;
    min-width: 400px;
    min-height: 75px;
    height: 216px;
    /*height: 216px;*/
    background-color: var(--black-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cases {
    width: 100%;
    display: flex;
    gap: 16px;

    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;

}
.cases::-webkit-scrollbar {
    display: none;
}

/*.cases::-webkit-scrollbar {*/
/*    width: 0*/
/*}*/

.container {
    min-width: 256px;
    width: 350px;
    height: 216px;
}

@media (max-width: 1300px) {

    .scales {
        flex-direction: column;
        padding-bottom: 48px;
    }

    .scalesHeader {
        height: 75px;
        width: 100%;
    }

    /*.cases {*/
    /*    flex-wrap: wrap;*/
    /*    flex-direction: column;*/
    /*    overflow: hidden;*/
    /*}*/
}

@media (max-width: 750px) {

    .cases {
        flex-wrap: wrap;
        flex-direction: column;
        overflow: hidden;
    }
    .container {
        width: 100%;
    }
}