* {

}

.item {
    position: relative;
    display: flex;
    height: 100%;
}

.content {
    width: calc(100% - 40px);
    height: calc(100vh - var(--header-size) - var(--footer-size) - 40px);
    margin: 20px;
    position: absolute;
    background-color: #0E67EC;
}