.item {
    display: flex;
    margin: 30px;
}

.block {
    width: 50%;
}

.center {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 50px;
}


@media (max-width: 1300px) {

    .item {
        flex-direction: column-reverse;
    }

    .block {
        width: 100%;
    }

    .center {
        width: 100%;
        margin: 0;

        align-items: center;
        flex-wrap: wrap;
    }

    .center p {
        text-align: center;
    }
}