* {

}

.content {
    display: flex;
    padding: 15px;
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 1fr); !* Поменяйте размер по своему усмотрению *!*/
    border: 1px solid var(--black-color);
    /*height: 100%;*/
}

.block {
    /*flex: 1;*/
    width: 50%;
    height: 100%;
}

.blockTitel {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 80px;
    gap: 16px
}

.cityTitle {
    display: flex;
    justify-content: left;
    text-decoration: none;
    color: var(--black-color);
}



.cese {
    margin: 0;
    text-decoration: none;
    color: var(--black-color);
}

.cityTitle p {
    border-bottom: 1px solid var(--black-color);
    margin: 48px 0 16px 0 ;
}


.blockImg {
    /*width: 100%;*/
    /*height: 100%;*/
    height: 400px;
}



@media (max-width: 1000px) {


    .block {
        width: 100%;
        height: 100%;
    }
    .content {
        flex-direction: column;
    }

    .blockImg {
        height: 250px;
    }


    .blockTitel {
        margin-bottom: 16px;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 16px;
        gap: 16px
    }

    .cityTitle p {
        border-bottom: 1px solid var(--black-color);
        margin: 0 0 16px 0;
    }
}