:root {
    --width: 100%;
    --height-header: 48px;
}

.item {

}

.blockCase {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--gray-pale-color);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all var(--transition-ease);
    text-decoration: none;
}

.blockCase::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Затемнение с использованием полупрозрачного черного цвета */
    opacity: 0; /* Изначально невидимый */
    transition: opacity var(--transition-ease); /* Плавное переходное изменение */
}

.blockCase:hover::before {
    opacity: 1; /* Показываем затемнение при наведении */
}
.blockCase:hover {
    transform: scale(1.05);
}

.blockImg {
    height: calc(100% - var(--height-header)); /* Укажите нужную высоту */
    /*height: 100%; !* Укажите нужную высоту *!*/
    width: 100%; /* Укажите нужную высоту */
    object-fit: cover;
}

.blockHeader {
    width: 100%;
    height: var(--height-header);
    background-color: var(--black-color);
    text-align: center;
    color: var(--white-color); /* Цвет текста */
}

.blockHeader h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}